ul, .another-list {
  @dark {
    color: white;
  }
}

:is(ul, .another-list) {
  @dark {
    color: white;
  }
}

main:has(ul, .another-list) {
  @light {
    color: white;
  }
}

main:has(+ :is(ul, .another-list)) {
  @light {
    color: white;
  }
}
