html[data-color-scheme="dark"] main section.modifier {
  color: white;
}

html[data-color-scheme="dark"] main section > ul, html[data-color-scheme="dark"] main section .another-list {
  color: black;
}

@media (prefers-color-scheme: dark) {
  html:not([data-color-scheme="light"]) main section.modifier {
    color: white;
  }

  html:not([data-color-scheme="light"]) main section > ul, html:not([data-color-scheme="light"]) main section .another-list {
    color: black;
  }
}

@media (min-width: 768px) {
  html[data-color-scheme="light"] main section ul {
    color: white;
  }
  @media (prefers-color-scheme: light) {
    html:not([data-color-scheme="dark"]) main section ul {
      color: white;
    }
  }
}
